{% extends 'base.html.twig' %}

{% block title %}
    Application
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bxslider-4/dist/jquery.bxslider.min.css') }}">
{% endblock %}

{% block body %}

    <div class="slider">
        {% for slide in sliderList %}
        <div class="slide-item">
            <img src="{% path slide, 'reference' %}" alt="">
            <h1 class="slide-item-description">
                <a>{{ slide.description }}</a>
            </h1>
        </div>
        {% endfor %}
    </div>
    <div class="models-section">
        <h3 class="text-center">Models</h3>
        <div class="container">
            <ul class="models-list">
                {% for model in modelList %}
                    <li class="col-sm-4 models-item">
                        <a href="">
                            <img src="{% path model.imageLogo, 'reference' %}" alt="">
                            <span class="item-name">{{ model.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="services-section">
        <h3 class="text-center">Services</h3>
        <div class="container service-list">
            <div class="row">
                <a href="{{ path('car_available_list') }}">
                    <div class="service-item available-cars-service">
                        <span class="service-item-title">Available cars</span>
                    </div>
                </a>
                <a href="{{ path('dealer_homepage') }}">
                    <div class="service-item dealers-service">
                        <span class="service-item-title">Dealers</span>
                    </div>
                </a>
                <a href="{{ path('offers_index') }}">
                    <div class="service-item special-offers-service">
                        <span class="service-item-title">Offers</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/bxslider-4/dist/jquery.bxslider.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: true,
                autoHover: true
            });
        });
    </script>
{% endblock %}