<p>Registration to service</p>
<p>Dear {{ firstName }} {{ lastName }}</p>
<p>Thanks for registration service Porsche</p>
<p>Car: {{ carName }}</p>
<p>Model: {{ model.name }}</p>
<p>Regards Porsche Service</p>
<p>Dealer: {{ dealer.name }}</p>
<p>Contacts: {{ dealer.city }}, {{ dealer.street }}, {{ dealer.number }}, {{ dealer.phone }}</p>
