<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
    <div class="app-navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav model-nav-list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu model-list">
                                <li class="model-item clearfix" id="">
                                    <div class="col-sm-5 item-name">
                                        <span><a href="{{ path('model_list') }}">Models list</a></span>
                                    </div>
                                </li>
                                {% for model in model_management.getList %}
                                    <li class="model-item clearfix" id="{{ model.id }}">
                                        <div class="col-sm-5 item-name">
                                            <span>
                                                <a href="{{ path('model_cars_list', {'model': model.name}) }}">{{ model.name }}</a>
                                            </span>
                                        </div>
                                        <div class="col-sm-7 item-logo">
                                            <img src="{% path model.imageLogo, 'reference' %}" alt="">
                                        </div>
                                        {% if model.car is not empty %}
                                            <ul class="model-list-car" id="{{ model.id }}">
                                                {% for car in model.car %}
                                                    <li class="list-car-item" id="car-item-{{ model.id }}">
                                                        <span>
                                                            <a href="{{ path('car_view', {'carName': car.name, 'model': model.name}) }}">{{ car.name }}</a>
                                                        </span>
                                                        <div class="car-data">
                                                            <img src="{% path car.imagePreview, 'reference' %}" alt="">
                                                            <div class="car-data-name">
                                                                <span class="data-name">{{ car.name }}</span>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 car-data-menu">
                                                                    <ul class="menu-list">
                                                                        <li class="menu-item">
                                                                            <a href="">Technical Params</a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a href="">Params</a>
                                                                        </li>
                                                                        <li class="menu-item">
                                                                            <a href="">Configured</a>
                                                                        </li>
                                                                        <li class="menu-item view-car">
                                                                            <a href="{{ path('car_view', {'carName': car.name, 'model': model.name}) }}">View</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-sm-6 car-data-params">
                                                                    {% if car.engine|first.power is not empty %}
                                                                        <div class="car-params-item">
                                                                            <p class="params-key">
                                                                                <b>Power</b>
                                                                            </p>
                                                                            <p class="params-val">{{ car.engine|first.power }} horsepower</p>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if car.dynamics|first.acceleration is not empty %}
                                                                        <div class="car-params-item">
                                                                            <p class="params-key">
                                                                                <b>Acceleration from 0 - 100 km/h</b>
                                                                            </p>
                                                                            <p class="params-val">{{ car.dynamics|first.acceleration }} s</p>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if car.dynamics|first.speed  is not empty%}
                                                                        <div class="car-params-item">
                                                                            <p class="params-key">
                                                                                <b>Top speed</b>
                                                                            </p>
                                                                            <p class="params-val">{{ car.dynamics|first.speed }} km/h</p>
                                                                        </div>
                                                                    {% endif %}
                                                                    {% if car.fuel|first.combined is not empty %}
                                                                        <div class="car-params-item">
                                                                            <p class="params-key">
                                                                                <b>Combined in l/100 km</b>
                                                                            </p>
                                                                            <p class="params-val">{{ car.fuel|first.combined }} L</p>
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cars with mileage
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Porsche Approved Cars with mileage</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Service subscriber service program</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Search for cars with mileage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">AutoSport</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Clubs</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Driving Experience</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Golf Club</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Porshe Services</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Services Calculator</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Exclusive Programm</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Tequipment</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Driver Selection</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proposition
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Special Proposition</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Service Proposition</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Winner Finance</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Porshe
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#" class="menu-item">Principles of Porsche</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">News and press</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche E-Performance</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Corporate culture and vacancies</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche Museum</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Christophorus Magazine</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche News</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>

    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
