<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
    <div class="app-navigation">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav model-nav-list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Models
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu model-list">
                                <a href="">
                                    <li class="model-item clearfix">
                                        <div class="col-sm-5 item-name">
                                            <span>All Models</span>
                                        </div>
                                    </li>
                                </a>
                                {% for model in model_management.getList %}
                                    <a href="">
                                        <li class="model-item clearfix" id="{{ model.id }}">
                                            <div class="col-sm-5 item-name">
                                                <span>{{ model.name }}</span>
                                            </div>
                                            <div class="col-sm-7 item-logo">
                                                <img src="{{ uploda_image_path }}/models/{{ model.imageName }}" alt="">
                                            </div>
                                        </li>
                                    </a>
                                    <ul class="model-car-list" id="{{ model.id }}">
                                        {% for car in model.car %}
                                            <a href="">
                                                <li class="model-car-item">{{ car.name }}</li>
                                            </a>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cars with mileage
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Porsche Approved Cars with mileage</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Service subscriber service program</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Search for cars with mileage</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">AutoSport</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Clubs</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Driving Experience</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Golf Club</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Porshe Services</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Services Calculator</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Exclusive Programm</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Tequipment</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porshe Driver Selection</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proposition
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#">Special Proposition</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Service Proposition</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Winner Finance</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Porshe
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-item">
                                <li class="menu-item">
                                    <a href="#" class="menu-item">Principles of Porsche</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">News and press</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche E-Performance</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Corporate culture and vacancies</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche Museum</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Christophorus Magazine</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Porsche News</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Contact us</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
    </div>

    {% block body %}
    {% endblock %}

    <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
    </body>
</html>
