{% extends 'base.html.twig' %}

{% block title %}
    Offers
{% endblock %}

{% block body %}
    <div class="offers-list-title">
        <p>{{ category.name }}</p>
    </div>
    <div class="offers-list">
        <div>
            {{ render_breadcrumbs() }}
            {% for offer in pagination %}
                <div class="offers-item clearfix">
                    <div class="col-sm-4">
                        <img src="{% path offer.offersImage, 'reference' %}" alt="">
                    </div>
                    <div class="cols-sm-8 offers-description">
                        <h2>{{ offer.title }}</h2>
                        <div>{{ offer.shortDescription }}</div>
                        <a href="{{ path('offers_view', {'title': offer.slug}) }}" class="btn more-offers-btn">Learn more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation offers-pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}