{% extends 'base.html.twig' %}

{% block body %}
    <div class="model-container">
        <h2 class="text-center">Models</h2>
        <div class="model-list-section row">
            {% for model in modelList %}
                <div class="col-sm-3 model-item">
                    <a href="{{ path('model_cars_list', {'model': model.name}) }}">
                        <div class="model-logo">
                            <img src="{% path model.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="model-data">
                            <span>{{ model.name }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="details-model">
            <h3>Model details</h3>
            <ul class="details-model-list">
                {% for model in modelList %}
                    {% if loop.last %}
                        <li>
                            <a href="{{ path('model_cars_list', {'model': model.name}) }}">{{ model.name }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('model_cars_list', {'model': model.name}) }}">{{ model.name }}</a><span>|</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}