{% extends 'base.html.twig' %}

{% block title %}
    Models
{% endblock %}

{% block body %}

    <div class="model-container-title">
        <p>Models</p>
    </div>
    <div class="model-container">
        {{ render_breadcrumbs() }}

        <button type="button" class="btn btn-default show-search-form-btn" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus show-form-icon" aria-hidden="true"></span>
        </button>

        <div class="model-search">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="model-list-section row">
            {% for model in modelList %}
                <div class="col-sm-3 model-item">
                    <a href="{{ path('model_cars_list', {'model': model.slug}) }}" id="{{ model.name }}">
                        <div class="model-logo">
                            <img src="{% path model.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="model-data">
                            <span>
                                <a href="{{ path('model_cars_list', {'model': model.slug}) }}">{{ model.name }}</a>
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="details-model">
            <h3>Model details</h3>
            <ul class="details-model-list">
                {% for model in modelList %}
                    {% if loop.last %}
                        <li>
                            <a href="{{ path('model_cars_list', {'model': model.slug}) }}">{{ model.name }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('model_cars_list', {'model': model.slug}) }}">{{ model.name }}</a><span>|</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/car.js') }}"></script>
{% endblock %}