{% extends 'base.html.twig' %}

{% block title %}
    {{ model }}
{% endblock %}
{% block body %}
    <div class="model-cal-title">
        <p>{{ model }} Cars</p>
    </div>
    <div class="model-car-container">
        {{ render_breadcrumbs() }}
        <div class="car-list-section">
            {% for car in carList %}
                <a href="{{ path('car_view', {'carName': car.slug, 'model': model}) }}">
                    <div class="car-item col-sm-3">
                        <div class="car-logo">
                            <img src="{% path car.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="car-data">
                            <span>
                                <a href="{{ path('car_view', {'carName': car.slug, 'model': model}) }}">{{ car.name }}</a>
                            </span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}