{% trans_default_domain 'FOSUserBundle' %}

<div class="login-container-title">
    <p>Login page</p>
</div>

<div class="login-container">
    <div class="col-lg-6">
        {% if error %}
            <div class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" id="login_form">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" class="form-control" placeholder="Login or Email" value="{{ last_username }}" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" name="_password" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="social-login">
                <a href="{{ path('login_social_facebook') }}" class="social-login-btn login-facebook-btn">Facebook</a>
                <a href="{{ path('login_social_google') }}" class="social-login-btn login-google-btn">Google</a>
            </div>
            <input type="submit" id="_submit" class="btn login-submit-btn" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
</div>