{% extends 'base.html.twig' %}

{% block title %}
    Dealer list
{% endblock %}

{% block body %}
    <div class="dealer-list-title">
        <p>Dealers</p>
    </div>
    <div class="dealer-list-section clearfix">
        <div id="map"></div>
        {% for dealer in dealerList %}
            <div class="col-sm-4 dealer-item">
                <h3 class="dealer-item-name">{{ dealer.name }}</h3>
                <div class="dealer-item-address">
                    <span class="dealer-address">{{ dealer.postCode }}, {{ dealer.city }}, {{ dealer.street }}, {{ dealer.number }}</span>
                </div>
                <div class="dealer-item-contact">
                    <span>phone: +380{{ dealer.phone }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        var geocoder, map;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(49.988358, 36.232845);
            var mapOptions = {
                zoom: 8,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }

        function codeAddress() {

            var dealerList = document.getElementsByClassName('dealer-address');

            Array.prototype.forEach.call(dealerList, function (el) {

                var address = el.textContent;
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == 'OK') {
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                        });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            });
        }

        setTimeout(function () {
            codeAddress();
        }, 500);

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuBIBIQVqda0vQzB0hFZRxiCTfB0FloAU&callback=initialize">
    </script>
{% endblock %}