{% extends 'base.html.twig' %}

{% block title %}
    {{ car.name }}
{% endblock %}

{% block body %}
    <div class="car-preview-container">
        {% if car.imagePreview is not empty %}
            <img src="{% path car.imagePreview, 'reference' %}" alt="">
            {% if car.imagePreview.description is not empty %}
                <h1 class="preview-description">{{ car.imagePreview.description }}</h1>
            {% endif %}
        {% endif %}
    </div>
    <div class="car-view-section clearfix">
        <div class="car-view-navigation col-sm-7 clearfix">
            <div class="car-nav-item car-nav-menu col-sm-4">
                <div class="dropdown car-navigation-btn">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#car-tech-param" class="car-nav-item-link">Tech params</a>
                        </li>
                        <li>
                            <a href="#car-feature-section" class="car-nav-item-link">Features</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="car-nav-item page-nav-item col-sm-4">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <a href="#car-tech-param" class="car-nav-item-link">
                    <span>Tech params</span>
                </a>
            </div>
            <div class="car-nav-item page-nav-item col-sm-4">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <a href="#car-feature-section" class="car-nav-item-link">
                    <span>Features</span>
                </a>
            </div>
        </div>
    </div>
    <div class="car-tech-param-section clearfix" id="car-tech-param">
        <h2 class="text-center">Technical params</h2>
        <div class="col-sm-6 car-logo-img">
            <img src="{% path car.imageLogo, 'reference' %}" alt="">
        </div>
        <div class="col-sm-6 configurations-data clearfix">
            <h3 class="text-right">{{ car.name }}</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        {% for configuration in car.configurations %}
                            {% if loop.index is divisibleby(2) %}
                                <th scope="col" class="configuration-type">{{ configuration.transmission.type }}</th>
                            {% else %}
                                <th scope="col" class="configuration-type">{{ configuration.transmission.type }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Price</th>
                        {% for configuration in car.configurations %}
                            <th scope="col" class="configuration-val">$ {{ configuration.price }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Power</th>
                        {% for configuration in car.configurations %}
                            <th scope="col" class="configuration-val">{{ configuration.engine.power }} hp</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Acceleration 0 - 100 km/h</th>
                        {% for configuration in car.configurations %}
                            <th scope="col" class="configuration-val">{{ configuration.dynamics.acceleration }} s</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Top Speed</th>
                        {% for configuration in car.configurations %}
                            <th scope="col" class="configuration-val">{{ configuration.dynamics.speed }} km/h</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Fuel Consumption Combine</th>
                        {% for configuration in car.configurations %}
                            <th scope="col" class="configuration-val">{{ configuration.fuel.combined }}</th>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a href="{{ path('car_view_specs', {'carName': car.slug, 'model': car.model.slug}) }}" class="btn view-car-details-btn">All technical specs</a>
            </div>
        </div>
    </div>
    <div class="car-feature-section clearfix" id="car-feature-section">
        <div class="col-sm-12">
            <h2 class="text-center">Features</h2>
        </div>
        {% for item in car.feature %}
            <div class="col-sm-6 feature-item clearfix">
                <img src="{{ vich_uploda_image_path }}/feature/{{ item.imageName }}" alt="">
                <div class="col-sm-12 feature-item-data">
                    <div class="feature-description clearfix">
                        <p class="feature-title">{{ item.title }}</p>
                        <div class="short-description">
                            <span>{{ item.shortDescription }}</span>
                        </div>
                        <div class="full-description">
                            <span>{{ item.fullDescription }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="car-gallery-section" id="car-gallery-section"></div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/car.js') }}"></script>
{% endblock %}