{% extends 'base.html.twig' %}

{% block body %}
    <div class="car-preview-container">
        <img src="{% path car.imagePreview, 'reference' %}" alt="">
        {% if car.imagePreview.description is not empty %}
            <h1 class="preview-description">{{ car.imagePreview.description }}</h1>
        {% endif %}
    </div>
    <div class="car-view-section clearfix">
        <div class="car-view-navigation col-sm-7 clearfix">
            <div class="car-nav-item car-nav-menu col-sm-3">
                <div class="dropdown car-navigation-btn">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#">Tech params</a>
                        </li>
                        <li>
                            <a href="#">Features</a>
                        </li>
                        <li>
                            <a href="#">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="car-nav-item page-nav-item col-sm-3">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <a href="">
                    <span>Tech params</span>
                </a>
            </div>
            <div class="car-nav-item page-nav-item col-sm-3">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <a href="">
                    <span>Features</span>
                </a>
            </div>
            <div class="car-nav-item page-nav-item col-sm-3">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                <a href="">
                    <span>Gallery</span>
                </a>
            </div>
        </div>
    </div>
    <div class="car-tech-param-section">
        <div class="clearfix">
            <h2 class="text-center">Technical params</h2>
            <div class="col-sm-offset-1 col-sm-5">
                <img src="{% path car.imageLogo, 'reference' %}" alt="">
            </div>
            <div class="col-sm-5 configurations-data clearfix">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-type">{{ configuration.transmission.type }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Price</th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-val">{{ configuration.price }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Power</th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-val">{{ configuration.engine.power }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Acceleration</th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-val">{{ configuration.dynamics.acceleration }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Speed</th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-val">{{ configuration.dynamics.speed }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row">Fuel</th>
                            {% for configuration in car.configurations %}
                                <th scope="col" class="configuration-val">{{ configuration.fuel.combined }}</th>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}