{% extends 'base.html.twig' %}

{% block body %}
    <div class="car-preview-container">
        <img src="{% path car.imagePreview, 'reference' %}" alt="">
        {% if car.imagePreview.description is not empty %}
            <h1 class="preview-description">{{ car.imagePreview.description }}</h1>
        {% endif %}
    </div>
    <div class="car-view-section clearfix">
        <div class="car-view-navigation col-sm-7 clearfix">
            <div class="car-nav-item car-nav-menu col-sm-3">
                <div class="dropdown car-navigation-btn">
                    <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="#">Tech params</a>
                        </li>
                        <li>
                            <a href="#">Features</a>
                        </li>
                        <li>
                            <a href="#">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="car-nav-item col-sm-3">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <a href="">
                    <span>Tech params</span>
                </a>
            </div>
            <div class="car-nav-item col-sm-3">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <a href="">
                    <span>Features</span>
                </a>
            </div>
            <div class="car-nav-item col-sm-3">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                <a href="">
                    <span>Gallery</span>
                </a>
            </div>
        </div>
    </div>
    <div class="car-tech-param-section">
        <div class="container">
            <h2 class="text-center">Technical params</h2>
            <div class="col-sm-6">
                <img src="{% path car.imageLogo, 'reference' %}" alt="">
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Manual</th>
                        <th>PDK</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Price</td>
                            <td>{{ car.price }}</td>
                            <td>{{ car.price }}</td>
                        </tr>
                        <tr>
                            <td>Power</td>
                            <td>{{ car.engine|first.power }}</td>
                            <td>{{ car.engine|last.power }}</td>
                        </tr>
                        <tr>
                            <td>Acceleration</td>
                            <td>{{ car.dynamics|first.acceleration }}</td>
                            <td>{{ car.dynamics|last.acceleration }}</td>
                        </tr>
                        <tr>
                            <td>Speed</td>
                            <td>{{ car.dynamics|first.speed }}</td>
                            <td>{{ car.dynamics|last.speed }}</td>
                        </tr>
                        <tr>
                            <td>Fuel consumption</td>
                            <td>{{ car.fuel|first.combined }}</td>
                            <td>{{ car.fuel|last.combined }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}